.menu .linhas {
    position: absolute;
    margin-top: 30px;
    display: block;
    z-index: 99;
    width: 35px;
    height: 35px;
}


.menu .clicou{
    position: absolute;
    margin-top: 30px;
    display: block;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .btn-check{
    position: absolute;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
}
.menu .linhas span {
    display: block;
    border-radius: 5px;
    height: 5px;
    width: 35px;
    margin-bottom: 5px;
    background-color: rgb(241, 136, 9);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
#img-logo {
    position: absolute;
    z-index: 996;
    width: 150px;
    height: 150px;
    transform: translate(0px, -20px);
}

.clicou:checked ~ .linhas span:nth-child(1){
    transform: rotate(-45deg);
}

.clicou:checked ~ .linhas span:nth-child(2){
    display: none;
}

.clicou:checked ~ .linhas span:nth-child(3){
    transform: rotate(45deg);
    margin-top: -10px;
}

.clicou:checked ~ ul {
    margin-left: -250px;
}

/* fim */

.btn-check:checked ~ .linhas span:nth-child(1){
    transform: rotate(-45deg);
}

.btn-check:checked ~ .linhas span:nth-child(2){
    display: none;
}

.btn-check:checked ~ .linhas span:nth-child(3){
    transform: rotate(45deg);
    margin-top: -10px;
}

.btn-check:checked ~ ul {
    margin-left: -250px;
}
.menu ul {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(15, 24, 146, 0.801);
    margin-top: 130px;
    margin-left: 450px;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s;
}

.menu ul li {
    margin: 5px 0;
    padding: 10px;
}

.menu ul li a{
    font-size: 25px;
    color: rgb(249, 249, 249);
}

.menu ul li:hover a {
    color: rgb(251, 98, 19);
}
