.menu span {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    margin-left: 2px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}

.menu span:nth-child(1){
    margin-top: 5px;
    background-color: rgb(246, 246, 246);
}

.menu span:nth-child(2){
    margin-top: 12px;
    background-color: rgb(246, 246, 246);;
}

.menu span:nth-child(3){
    margin-top: 19px;
    background-color: rgb(246, 246, 246);;
}

#btn-check:checked + .menu span:nth-child(1){
    transform: rotate(-45deg);
    margin-top: 12px;
    background-color: rgb(217, 29, 19);;
}

#btn-check:checked + .menu span:nth-child(2){
    display: none;
}

#btn-check:checked + .menu span:nth-child(3){
    transform: rotate(45deg);
    margin-top: 12px;
    background-color: rgb(217, 29, 19);
}