.cabecalho {
    top: 0;
    height: 70px;
}

.cabecalho .top-sup {
    padding: 10px 40px;
}

.cabecalho .top-inf {
    top: 70px;
}
.cabecalho .logo {
    width: 50px;
    height: 50px;
}

.menu .linhas {
    margin-top: 15px;
}
.menu .btn-check {
    margin-top: 15px;
}

.content-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.content-imagem .imagem {
    position:absolute;
    top: 80px;
}

.conteudo-imagem h1 {
    color: rgb(249, 249, 249);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.content-imagem h1 {
    position:absolute;
    top: 420px;
}

.content-imagem p {
    position: absolute;
    top: 490px;
    text-align: center;
}


#img-logo {
    position: absolute;
    z-index: 9999;
    width: 100px;
    height: 100px;
    transform: translate(0px, -20px);
    margin-top: 10px;
}