body {
    font-family:"Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", "Sans-Serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content .carrossel {
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}

.max-width {
    max-width: 1220px;
}

.content .historia {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.img-esq-1 {
    border-top-left-radius: 40px;
}

#home-img-esq-1 {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.img-dir-2 {
    border-top-right-radius: 40px;
}

#home-img-dir-2 {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
} 

.content .historia .imagem {
    position: relative;
    width: 200px;
    gap: 20px;
    background-color: rgba(15, 24, 146);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    box-shadow: 10px 10px 15px -12px black;
}
  
.content .historia .imagem img {
    width: 200px;
    height: 160px;
}

.historia .imagem.segunda img{
    margin-bottom: 38px;
}

.historia .imagem.terceira img{
    margin-bottom: -30px;
}

.historia .imagem.quarta img{
    margin-bottom: -30px;
}

.content .historia p {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.content .historia .p  {
    padding-top: 30px;
}

.content .historia .btn-saibaMais {
    background-color: rgb(241, 136, 9);
    color: #ffffff;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    margin: 0 0 20px 5px;
    border-radius: 15px;
    transition: all 0.4s ease;
    text-decoration: none;
    font-style:italic;
}

.historia .btn-saibaMais.curiosidades {
    width: 300px;
}

.content .historia a:hover {
    transform: scale(1.1);
}

.content .historia .redes {
    width: 100%;
    height: 100px;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.historia .redes .rede a i{
    font-size: 30px;
    color: rgb(2, 159, 202);
    border: 2px solid rgb(2, 159, 202);
    padding: 10px;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.historia .redes .rede a i:hover{
    color: rgb(235, 95, 7);
    transform: scale(1.2);
    border: 2px solid rgb(241, 136, 9);
}

.todas-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todas-redes h1 {
    color: rgb(2, 159, 202);
    font-size: 30px;
}

.todas-redes .conteudo-rede {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.historiaNova {
    margin-top: 140px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.historiaNova p {
    font-family: sans-serif;
    text-align: center ;
    font-size: 15pt;
}


.historiaNova h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.sobre {
    background-color: rgba(15, 24, 146);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sobre h1 {
    font-size: 40px;
    text-transform: uppercase;
}
.whats {
    position:fixed;
    bottom: 85px;
    right: 5px;
    z-index: 998;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whats .icon-whats {
    background-color: #48cf53;
    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.63);
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    transition: all 0.4s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sobe-desce 1s ease-in-out infinite;
}

.whats .icon-whats i {
    color: #fff;
    font-size: 50px;
}

#curiosidades {
    padding: 20px;
    border-radius: 25px;
}

@keyframes sobe-desce {
    0% {
        bottom: 0;
        transform: translatey(0);
    }

    50% {
        bottom: 10px;
        transform: translateY(-8px);
    }
}