@media (max-width: 1230px){
    .cabecalho .titulo h1 {
        font-size: 35px;
    }

    .historia .imagem {
        width: 500px;
    }

}

@media (max-width: 930px){
    .cabecalho .titulo h1 {
        font-size: 25px;
    }

    .historiaNova {
        max-width: 700px;
    }
    .rodape h3 {
        padding: 0 20px;
    }
}

@media (max-width: 880px) {
    .cabecalho .titulo h1 {
        font-size:20px ;
    }
    .img-esq-1,
    .img-dir-2,
    #home-img-esq-1,
    #home-img-dir-2 {
        border-radius: 0;
    }

}

@media (max-width: 700px){
    .cabecalho {
        top: 0;
       }

    .cabecalho .titulo {
        display: none;
    }

    .cabecalho .top-inf {
        margin-top: -40px;
    }
    .top-inf ul li a span {
        display: none;
    }

    .top-inf .menu-inf {
        margin-top: -70px;
    }

    .oculto {
        display: block;
    }

    .top-inf ul li{
        border: none;
    }

    .content .carrossel {
        display: none;
    }

    .historiaNova {
        position: relative;
        margin-top: 170px;
        max-width: 450px;
    }

    .historiaNova h1 {
        margin-top: 140px;
        text-align: center;
        font-size: 25px;
    }

    .historiaNova p {
        text-align: center;
        margin-top: 100px;
    }

    .content .historia {
        margin-top: 140px;
    }

    .sobre h1 {
        font-size: 30px;
    }

    .rodape h3 {
        font-size: 15px;
        flex-direction: row;
        padding: 0 10px;
    }
}

@media (max-width:550px) {
    .cabecalho .top-sup {
        padding: 40px 0px;
    }
    .top-sup .logo #img-logo{
        height: 100px;
        width: 100px;
    }

    .menu .linhas {
        margin-left: -30px;
    }

    .historiaNova {
        margin-top: 150px;
    }

    .historiaNova p {
        max-width: 400px;
    }

    .content .historia .imagem {
        width: 350px;
    }

    .content .historia .btn-saibaMais {
        margin: 15px 100px;
    }

    .sobre h1{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }
}