@media (max-width: 1230px){
    .cabecalho .titulo h1 {
        font-size: 35px;
    }

    .historia .imagem {
        width: 500px;
    }

}

@media (max-width: 930px){
    .cabecalho .titulo h1 {
        font-size: 25px;
    }

    .historiaNova {
        max-width: 700px;
    }
    .rodape h3 {
        padding: 0 20px;
    }
}

@media (max-width: 880px) {
    .cabecalho .titulo h1 {
        font-size:20px ;
    }
    .img-esq-1,
    .img-dir-2,
    #home-img-esq-1,
    #home-img-dir-2 {
        border-radius: 0;
    }

    .menu ul {
        margin-top: 130px;
    }

}

@media (max-width: 700px){
    .cabecalho {
        top: 0;
       }

    .cabecalho .titulo {
        display: none;
    }

    
    .top-sup .logo #img-logo{
        height: 80px;
        width: 80px;
    }
    .cabecalho .top-inf {
        margin-top: -40px;
    }

    .cabecalho .top-inf.tela-sec {
        margin-top: -0.5px;
    }

    .cabecalho .top-inf ul {
        top: 5px;
    }

    .menu .clicou {
        margin-left: -30px;
    }

    .cabecalho .menu ul  {
        width: 100%;
    }
    
     .top-inf ul li a span {
        /* display: none; */
        font-size: 15px;
    } 
    .content .carrossel {
        display: none;
    }

    .historiaNova {
        position: relative;
        margin-top: 170px;
        max-width: 450px;
    }

    .historiaNova h1 {
        margin-top: 140px;
        text-align: center;
        font-size: 25px;
    }

    .historiaNova p {
        text-align: center;
        margin-top: 150px;
    }

    .content .historia {
        margin-top: 140px;
    }

    .sobre h1 {
        font-size: 30px;
    }

    .rodape h3 {
        font-size: 15px;
        flex-direction: row;
        padding: 0 10px;
    }

    
    .content-imagem .imagem {
        width: 350px;
        height: 200px;
        margin-top: 350px;
       
    }

    .content-imagem .imagem.tamanho {
        width: 350px;
        margin-top: 200px;
    }

    .content-imagem h1 {
        font-size: 25px;
        text-align: center;
    }

    .content-imagem p {
        text-align: center;
    }
}

@media (max-width:550px) {
    .cabecalho .top-inf {
        margin-top: -40px;
    }
    
    .top-sup .logo .logo-historia {
        height: 70px;
    }

    .top-sup .logo {
        margin-left: -25px;
    }
    .menu .linhas {
        margin-top: 10px;
        margin-left: -30px;
    }

    .menu .clicou{
        margin-top: 10px;
        margin-left: -30px;
    }

    .menu .btn-check {
        margin-left:-30px;
    }

    .historiaNova {
        margin-top: 150px;
    }

    .historiaNova p {
        max-width: 400px;
     }
    

    .content .historia .imagem {
        width: 350px;
    }

    .content .historia .btn-saibaMais {
        margin: 15px 100px;
    }

    .content-imagem .imagem {
        width: 350px;
        height: 200px;
        margin-top: 570px;
       
    }

    .content-imagem .imagem.tamanho {
        width: 350px;
        margin-top: 290px;
    }

    .sobre h1{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }

    .sobre {
        width: 380px;
    }

}