.rodape {
    height: 100px;
    width: 100%;
    background-color: rgb(235  , 95, 7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape h3 {
    color: rgb(255, 255, 255);
}